[phases.setup]
nixPkgs = ["python310"]

[phases.install]
cmds = [
  "python -m ensurepip --upgrade",
  "python -m pip install --upgrade pip",
  "python -m pip install -r backend/requirements.txt"
]

[start]
cmd = "cd backend && gunicorn manage:app --bind 0.0.0.0:$PORT"